<footer>
    <div class="ft">
        <div class="ff"> 
            <div> Nosotros </div>
            <ul>
                <li>
                    <a href="#">Acerca de nosotros</a>
                </li>
    
                <li>
                    <a href="#"> Bolsa de trabajo</a>
                </li>
            </ul>  
            </div>
            <br> 
    
            <div class="ff"> 
                <div>Atención a clientes</div>
                <ul>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
        
                    <li>
                        <a href="#">Preguntas frecuentes</a>
                    </li>
    
                    <li>
                        <a href="#">Cambios y devoluciones</a>
                    </li>
                </ul>  
                </div>
                <br> 
    
                <div class="ff"> 
                    <div> Envíos</div>
                    <ul>
                        <li>
                            <a href="#">Envíos gratis</a>
                        </li>
            
                        <li>
                            <a href="#">Meses sin intereses</a>
                        </li>
                    </ul>
                    </div>   
    </div>

    <div class="social">
        <a class="socialmedia-container" href="#">
            <img src="/img/icons/facebook.svg" alt="">
        </a>

        <a class="socialmedia-container" href="#">
            <img src="/img/icons/instagram.svg" alt="">
        </a>

        <a class="socialmedia-container" href="#">
            <img src="/img/icons/twitter.svg" alt="">
        </a>
    </div>

<div class="copyright"> ©2021, Howller todos los derechos reservados </div>
    
</footer>